body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: dodgerblue;
  padding: 0;
}

header {
  background-color: #fff;
  color: #333;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  left: 10px;
}

/*.nav-links {
  list-style: none;
  display: flex;
  transition: max-height 0.3s ease-in-out;

}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}*/

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  height: 2px;
  width: 25px;
  background-color: #fff;
  margin: 5px 0;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.menu a {
  color: #333;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .menu-icon {
    display: block;
  }
  /*.nav-links {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #333;
    flex-direction: column;
    width: 100%;
    display: none;
    justify-content: center;
    transition: left 0.3s;
  }
  .nav-links li {
    margin: 10px 0;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }
 .nav-links .active {
  left: 0;
 }*/
 #menu-toggle:checked + .menu-icon + .menu  {
  display: flex;
 }
}