  /* Basic styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: dodgerblue;
    line-height: 1.6;
}

header {
    background-color: white;
    padding: 10px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.navbar.active{
    left: 0;
    transition-delay: 0s;
}

.logo a {
    color: #333;
    text-decoration: underline;
    font-size: 24px;
    margin-left: 70px;
    font-weight: bold;
}
.logo a:hover {
  text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 70px;
}

.nav-links li {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.nav-links a:hover {
    color: rgb(87, 228, 148);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 55px;
        left: 0px;
        right: 0;
        padding: 12px;
    }

    .nav-links li {
        text-align: left;
        margin-left: 20px;
        top: 0;
    }
    .logo a {
        margin-left: 20px;
        text-decoration: none;
    }
    .logo a:hover {
        color: rgb(87, 228, 148);
      }

    .hamburger {
        display: flex;
        margin-right: 20px;
    }

    .nav-links.active {
        display: flex;
    }
}