  /* Basic styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: dodgerblue;
}

header {
    background-color: white;
    padding: 10px 0;
    position: fixed;
    left: 5rem;
    right: 30px;
    display: flex;
    z-index: 100;
    transition: 0.3s;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.navbar.active{
    left: 0;
    transition-delay: 0s;
}

.logo a {
    color: #333;
    text-decoration: underline;
    font-size: 24px;
    margin-left: 70px;
}
.logo a:hover {
  text-decoration: none;
}

.nav-links {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    justify-content: ;
}
.nav-links a:hover {
    color: rgb(87, 228, 148);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }
}